<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    
    <div class="container" id="derivation">
      <h2>The derived word</h2>
      <span class="badge mx-1"
        v-for="(symbol,index) in d.current" 
        v-bind:class="{'badge-primary': active(symbol), 'badge-secondary': !active(symbol)}"
        v-bind:id="symbolID(index)"
        :disabled="!active(symbol)" 
        @click="active(symbol) ? beginreplace(index) : null"
        >${symbol}</span>
        
      <div id="RuleOptions" v-if="replacing">
        <h2>The list of rules you can use for symbol ${d.current[symboltoreplace]} at position ${symboltoreplace}</h2>
        <button
          v-for="rule in replaceoptions"
          @click="finishreplace(rule)"
        >${rule.lhs} → <span v-for="symbol in rule.rhs">${symbol}</span></button>
      </div>
    </div>



  <script src="https://unpkg.com/vue"></script>
  <script src="grammar.js"> </script>
  <script>
    const app = new Vue({
      el: '#derivation',
      delimiters: ['${', '}'],
      data: {          
         d: new Derivation(new Grammar (
            ['id','+','-','*','/','(',')'],
            ['S','E','T'],
            [
              {'lhs':'S','rhs':['S','+','E']} , 
              {'lhs':'S','rhs':['S','-','E']} , 
              {'lhs':'S','rhs':['E']},
              {'lhs':'E','rhs':['E','*','T']} , 
              {'lhs':'E','rhs':['E','/','T']} , 
              {'lhs':'E','rhs':['T']},
              {'lhs':'T','rhs':['(','S',')']} , 
              {'lhs':'T','rhs':['id']} 
            ],
            'S'
            )),
          replacing: false,
          symboltoreplace: "",
          replaceoptions: []
          
      },    
      computed: {
        meh() {return "meh"}
      },
      methods: {
        active(symbol){return this.d.grammar.non_terminals.includes(symbol) && !this.replacing},
        beginreplace(index){
          this.replacing = true
          this.symboltoreplace=index
          this.replaceoptions=this.d.grammar.getRules(this.d.current[index])          
        },
        finishreplace(rule){
          this.d.replace(this.symboltoreplace,rule)
          this.replacing = false                   
        },
        symbolID(index){return 'symbol-'+index}
      }
    })
  </script>
  </body>
</html>
